# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
media_files/
staticfiles/
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
.coverage
htmlcov/

# Cache
.cache/