{% extends "base.html" %}
{% load static %}


{% block title %}
Login
{% endblock %}


{% block extra_css %}

<link
    rel="stylesheet"
    href="{% static 'css/register.css' %}"
>

{% endblock %}


{% block content %}

<div class="register-page">

    <div class="register-card">

        <div class="register-header">

            <h1>Welcome Back</h1>

            <p>
                Login to your account.
            </p>

        </div>


        <form
            method="post"
            class="register-form"
        >

            {% csrf_token %}


            {% if error %}

                <div class="errorlist">
                    {{ error }}
                </div>

            {% endif %}


            <p>

                <label>
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    required
                >

            </p>


            <p>

                <label>
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    required
                >

            </p>


            <button
                type="submit"
                class="register-btn"
            >
                Login
            </button>

        </form>


        <div class="register-footer">

            <p>

                Don't have an account?

                <a href="{% url 'register' %}">
                    Register
                </a>

            </p>

        </div>

    </div>

</div>

{% endblock %}