{% extends "base.html" %}

{% block title %}
Edit Post
{% endblock %}

{% block content %}

<div class="container">

    <h1>
        Edit Post
    </h1>

    <form method="post">

        {% csrf_token %}

        {{ form.media }}

        {{ form.as_p }}

        <button
            type="submit"
            name="action"
            value="draft"
        >
            Save Draft
        </button>

        <button
            type="submit"
            name="action"
            value="submit"
        >
            Submit for Review
        </button>

    </form>

</div>

{% endblock %}