{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}وبلاگ{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <header class="site-header">
        <div class="container header-content">
            <a class="site-logo" href="{% url 'core:landing' %}">
                وبلاگ
            </a>

            <nav class="site-nav">
                <a href="{% url 'core:landing' %}">خانه</a>
                <a href="{% url 'blog:post_list' %}"></a>مقاله‌ها</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>تمام حقوق این وب‌سایت محفوظ است.</p>
        </div>
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>
</html>